:root {
  --primary: #47cf73;
  --secondary: #7a9dff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  color: #515151;
}

.xs .App-header {
  flex-direction: column;
  font-size: 4vmin;
}

.App-link {
  color: var(--secondary);
}

.App-content {
  background-color: var(--secondary);
  background: -webkit-linear-gradient(201deg, var(--primary), var(--secondary));
  background: linear-gradient(201deg, var(--primary), var(--secondary));
  background-size: 400% 400%;
  min-height: calc(100vh - 15vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.card {
  margin: 1em auto;
  text-align: center;
  border: 1px solid;
  padding: 16px 8px 4px 8px;
}

.isMobile .card {
  padding: 4px;
}

.App-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 8px;
}

.App-footer > div {
  padding: 0 8px;
}
.xs .App-footer {
  flex-direction: column;
}

.App-footer a:hover,
.App-footer a:focus {
  color: var(--primary);
}

.App-footer a {
  color: var(--secondary);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
